.cta {
	$this : &;
	background-color: $dark;

	@include media-breakpoint-down(sm) {
		background-attachment: scroll !important;
	}

	.jumbotron {
		background: transparent;
		border-radius: 0;
		position: relative;
		margin: 0;
		height: auto;
		padding: 55px 0;

		@include media-breakpoint-up(lg) {
			padding: 135px 0;
		}

		.container,
		.container-fluid,
		.row {
			height: 100%;
			position: relative;
			z-index: 1;
		}
	}

	&__content {
		padding-bottom: 20px;
		@include media-breakpoint-up(md) {
			padding-bottom: 0;
		}
	}

	&--image {
		background-size: cover;
		background-position: center center;
	}

	&--auto {
		@include media-breakpoint-up(md) {
			.hero__video {
				&:after {
					content: '';
					display: block;
					padding-bottom: 56.25%;
				}
			}
		}
	}

	.gform_wrapper {
		background: rgba( $black, 0.4 );
		padding: 25px 20px;
		@include media-breakpoint-up(md) {
			padding: 55px 65px;
		}
		@include media-breakpoint-up(lg) {
			margin-left: 35px;
		}
		@include media-breakpoint-up(xl) {
			margin-left: 50px;
		}
	}

	&__left-form-col {
		.gform_wrapper {
			@include media-breakpoint-up(lg) {
				margin-left: 0;
				margin-right: 35px;
			}
			@include media-breakpoint-up(xl) {
				margin-right: 50px;
			}
		}
	}

	&__form-wrap {
		@include media-breakpoint-up(lg) {
			max-width: 650px;
			margin: 0 auto;
		}
	}

	&__content-wrap {
		text-align: center;
		margin-bottom: 25px;
		@include media-breakpoint-up(lg) {
			max-width: 850px;
			margin: 0 auto 50px;
		}

		.cta__content {
			@include media-breakpoint-up(lg) {
				padding: 0 80px;
			}
		}
	}

	&__video {
		position: relative;
		overflow: hidden;
		width: 100%;
		@include media-breakpoint-only(md) {
			&:after {
				content: '';
				display: block;
				padding-bottom: 56.25%;
			}
		}

		video {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 0;
			transform: translateX( -50% ) translateY( -50% );
			object-fit: cover;
		}

		// When using media element player, hide controls completely
		.mejs-container {
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: 0;
				transform: translateX( -50% ) translateY( -50% );
				background: var( --white );
			}

			.mejs-controls,
			.mejs-overlay.mejs-overlay-play,
			.mejs-overlay-loading {
				display: none !important;
			}
		}

		.jumbotron {
			width: 100%;
			height: 100%;
			top: 0;
		}
	}

	&:hover {
		#{$this}__video-pause {
			opacity: 1;
		}
	}

	&__video-pause {
		display: inline-block;
		margin-top: rem( 25 );
		margin-left: rem( 15 );
		color: var( --white );
		line-height: 1;
		opacity: 0;
		transition: all 0.3s ease-in-out;

		&:hover,
		&:focus {
			color: $gray-200;
		}

		&:focus {
			opacity: 1;
			box-shadow: $btn-focus-box-shadow;
		}
	}
}
