/************
 *
 * Testimonials Styles
 *
 ***********/

.testimonials {
	$this: &;
	position: relative;
	padding: 30px 0;

	> .container {
		position: relative;
	}

	.testimonial-container {
		@include media-breakpoint-down(sm) {
			padding: 15px 0;
		}

		.swiper-pagination {
			padding-left: 20px;
			@include media-breakpoint-up(xl) {
				padding-left: 30px;
			}
		}

		#{$this}__subheader,
		#{$this}__header {
			padding-left: 15px;
			@include media-breakpoint-up(lg) {
				padding-left: 0;
			}
		}
	}

	&__slider-wrapper {
		position: relative;
	}

	&__slider {
		margin: 0 rem( -15 );
		@include media-breakpoint-up(md) {
			margin: 0 (-$grid-gutter-width * 0.5);
		}

		.swiper-slide {
			padding: $grid-gutter-width * 0.5;
			height: auto;

			.card {
				height: 100%;
			}
		}
	}

	.card-deck {
		margin-top: $spacer * 2;
	}

	.card {
		box-shadow: none;
	}

	.swiper-slide-partial {
		opacity: 0.3;
	}

	.testimonial {
		border: none;

		&__meta {
			display: flex;
			margin-bottom: $spacer;
			min-height: rem( 60 );
		}

		&__photo {
			margin-right: $spacer;
		}

		&__img {
			border-radius: 50%;
			min-width: rem( 60 );
		}

		&__author-stars {
			flex: 1;
		}

		&__author {
			font-weight: $font-weight-normal;
			font-size: $font-size-xs;
			color: $gray-800;
		}

		&__stars {
			color: var( --primary );
			margin-top: $spacer * 0.25;
			padding-bottom: 6px;
			@include media-breakpoint-up(md) {
				padding-bottom: 8px;
			}
		}

		&--list {
			margin: ($spacer * 2) 0;
			padding: $spacer;
		}

		&--center,
		&--image-left {
			.testimonial__content {
				p {
					font-size: 1rem;
					font-weight: $font-weight-light;
					color: $gray-800;
					@include media-breakpoint-up(md) {
						font-size: rem( 22 );
					}
				}
			}

			.testimonial__stars {
				padding-bottom: 8px;
				@include media-breakpoint-up(md) {
					padding-bottom: 12px;
				}
			}
		}

		&--center {
			text-align: center;
			max-width: 800px;
			margin: 10px auto;

			.testimonial__photo {
				margin-right: 0;
				padding-bottom: 10px;
				@include media-breakpoint-up(md) {
					padding-bottom: 15px;
					padding-top: 15px;
				}
			}

			.testimonial__meta {
				display: block;
			}
		}


		&--image-left {
			.testimonial__photo {
				padding-bottom: 15px;

				img {
					width: 100px;
					height: auto;
				}
			}
			@include media-breakpoint-up(md) {
				flex-direction: row;
				justify-content: space-between;

				.testimonial__photo {
					padding-bottom: 0;
					position: relative;
					margin-left: 70px;

					img {
						width: 170%;
					}
				}

				.testimonial__inner-copy {
					margin-left: 40px;
					margin-right: 90px;
					width: 70%;
				}
			}

			@include media-breakpoint-up(lg) {
				.testimonial__photo {
					margin-left: 100px;

					img {
						width: 250px;
					}
				}
			}
			@include media-breakpoint-up(xl) {
				.testimonial__photo {
					img {
						width: 280px;
					}
				}
			}
		}

		&--semi-transparent {
			.testimonial__card-inner {
				position: relative;
				padding-left: 35px;
				padding-right: 20px;

				&:before {
					position: absolute;
					top: 0;
					left: 10px;
					content: '\201C';
					font-size: 3rem;
					line-height: 1;
				}
				@include media-breakpoint-up(lg) {
					max-width: 800px;
					padding-right: 0;
					padding-top: 15px;

					&:before {
						font-size: 4rem;
						left: 0;
					}
				}
				@include media-breakpoint-up(xl) {
					max-width: 880px;
				}

			}
		}

		&--shadowed-boxes {
			padding: 20px;

			@include media-breakpoint-up(md) {
				padding: 50px;
			}

			.testimonial__content {
				p {
					font-size: $font-size-base;
				}
			}
		}
	}

	&-list {
		.testimonial {
			margin: 30px 0;
			@include media-breakpoint-up(md) {
				margin: 70px 0;
			}
		}
	}

	.swiper-controls--center-left,
	.swiper-controls--center-center {
		.swiper-button-prev,
		.swiper-button-next {
			@include media-breakpoint-up(md) {
				top: 42%;
			}
		}
	}

	.swiper-controls--center-left {
		@include media-breakpoint-up(md) {
			padding-top: 30px;

			.swiper-pagination {
				left: 36%;
			}
		}
		@include media-breakpoint-up(xl) {
			.swiper-pagination {
				left: 31%;
			}
		}
	}

	.swiper-controls--bottom {
		&.padding-right-dynamic {
			@include media-breakpoint-down(sm) {
				padding-right: 35px;
			}
		}
	}

	&--about {
		.testimonial {
			background: none;
			color: var( --white );

			&__photo,
			&__stars {
				display: none;
			}

			&__content p,
			&__author {
				color: var( --white ) !important;
			}
		}

		.swiper-navigation {
			.swiper-button-prev,
			.swiper-button-next {
				color: var( --white );
				border-color: var( --white );
			}
		}

		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			background: var( --primary );
		}
	}
}
