@mixin card-deck-column-count($count: 1, $gutter: $card-deck-margin) {
	// stylelint-disable
	flex-grow: 0;
	flex-shrink: 0;
	@if $gutter != 0 {
		flex-basis: calc( 100% / #{$count} - #{$gutter} * 2 );
	}
	@else {
		flex-basis: calc( 100% / #{$count} );
	}
	// stylelint-enable
}

@mixin transition( $p  ) {
	// stylelint-disable
	-webkit-transition: $p;
	-o-transition: $p;
	-moz-transition: $p;
	transition: $p;
	// stylelint-enable
}

@mixin border-radius( $r ) {
	// stylelint-disable
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-ms-border-radius: $r;
	border-radius: $r;
	// stylelint-enable
}

@mixin transform( $t ) {
	// stylelint-disable
	-moz-transform: $t;
	-o-transform: $t;
	-webkit-transform: $t;
	transform: $t;
	// stylelint-enable
}

@mixin createNumbered($num, $className) {
	$foo : '';
	@for $i from $num through 1 {
		$foo : $foo + '.' + $className + '-' + $i + ', ';
	}

	#{$foo} {
		@content;
	}
}

