/******************
 *
 * Typography
 *
 ******************/

html {
	// Uncomment for base 10 font sizing
	// font-size: 62.5%;
}

// Responsive Heading Typography
h1,
.h1 {
	@include f1_reg();
	font-size: 2.5rem;
	line-height: 2.8125;
	@media( min-width: $d_md ) {
		font-size: 5rem;
		line-height: 5.25rem;
	}

	.editor-styles-wrapper & {
		font-size: $h1-font-size;
	}
}

h2,
.h2 {
	@include f1_reg();
	font-size: 1.875rem;
	line-height: 2.375rem;
	@media( min-width: $d_md ) {
		font-size: 3.125rem;
		line-height: 3.8125rem;
	}

	.editor-styles-wrapper & {
		font-size: $h2-font-size;
	}
}

h3,
.h3 {
	.editor-styles-wrapper & {
		font-size: $h3-font-size;
	}
}

h4,
.h4 {
	.editor-styles-wrapper & {
		font-size: $h4-font-size;
	}
}

h5,
.h5 {
	.editor-styles-wrapper & {
		font-size: $h5-font-size;
	}
}

h6,
.h6 {
	.editor-styles-wrapper & {
		font-size: $h6-font-size;
	}
}

.display-1 {
	.editor-styles-wrapper & {
		font-size: $display1-size;
	}
}

.display-2 {
	.editor-styles-wrapper & {
		font-size: $display2-size;
	}
}

.display-3 {
	.editor-styles-wrapper & {
		font-size: $display3-size;
	}
}

.display-4 {
	.editor-styles-wrapper & {
		font-size: $display4-size;
	}
}

p {

}

.smaller {
	font-size: $font-size-xs;
}

a {
	transition: all $animate;

	&:hover {
		text-decoration: none;
	}
}

table,
.table {
	@extend .table;

	thead {
		th {
			background-color: $gray-100;
			border-bottom: none;
			border-top: none;
		}
	}

	tbody {
		tr:first-child td {
			border-top: none;
		}

		tr:last-child td {
			border-bottom: $table-border-width solid $table-border-color;
		}
	}

	caption {
		font-size: $font-size-sm;
	}
}

ol.list-styled,
ul.list-styled {
	padding-left: $spacer * 1.25;

	ul,
	ol {
		margin-top: $spacer * 0.5;
		padding-left: $spacer * 2.25;
	}

	li {
		margin-bottom: $spacer * 0.5;
	}
}

blockquote {
	@extend .blockquote;
	border-left: 3px solid var( --primary );
	padding-left: $spacer * 1.5;

	footer {
		@extend .blockquote-footer;
	}
}
