/******************
 *
 * Global Buttons
 *
 ******************/

[class*='btn-outline-'] {
	border-width: 2px;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 21px 44px;

	@include f1_bold();
	font-size: 1.25rem;
	line-height: 1.375rem;

	@include border-radius( 50px );

	&.btn-white {
		color: var( --black );
	}

	&.btn-light {
		color: var( --dark );
	}

	&.btn-dark {
		color: var( --light );
	}

	&.btn-black {
		color: var( --white );
	}

	&.btn-primary {
		color: $white;
		border: none;
		background-color: $purple;
		background-size: 200% auto;
		background-image: $dk-grad2;
		@include transition( $animate );

		&:hover {
			background-position: right center;
		}
	}

	&.btn-secondary {
		color: $white;
		border: none;
		background-color: $yellow;
		background-size: 200% auto;
		background-image: $lt-grad2;
		@include transition( $animate );

		&:hover {
			background-position: right center;
		}
	}

	&.btn-tertiary {
		background-color: var( --tertiary );
	}
}

.btn-outline-light {
	border-color: var( --dark );
	color: var( --dark );

	&:hover {
		color: var( --black );
	}
}

.btn-text {
	color: $white;
	@include border-radius( 0 );
	margin: 0;
	padding: 21px 0 11px;

	&::after {
		content: fa-content( $fa-var-arrow-right );
		font-family: $font-fa;
		font-size: 1em;
		transition: margin 0.15s ease-in-out;
		margin-left: rem( 7 );

		@include transition( all $animate );
		@include transform( rotate( -45deg ) );
	}

	&:hover {
		color: $white;

		&::after {
			@include transform( rotate( 0deg ) );
		}
	}
}

@include media-breakpoint-up(md) {
	.btn-full {
		margin-top: -16px;
		margin-bottom: -16px;
		height: 66px;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 172px;
		margin-right: -76px;
	}

	.p-btn-full {
		padding-right: 40px !important;
	}

}

.hamburger-toggler {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.input-group-append,
.input-group-prepend {
	> .btn {
		border-width: 1px;
	}
}
